 .card
{   
    margin: 5em 5em 5em 5em;
    align-items: center;
    height: 250px;
    width: 360px;
    opacity: 0.6;
    background-color: white;
    

   
}
/* iframe{
    height: 80px;
    width: 50px;
} */
.payment
{   display: flex;
    height: 80px;
    align-items: center;
}  

/* .CardField
{
    display: flex;
    height: 80px;
}  */
.btn{
    text-align: center;
    margin: 30px 50px;
    background-color: blue;
    border-radius: 30px;

}